* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   
}
.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;  

     color: var(--letters);
    padding-top: 120px;

}


.card {
    width: 260px;
    height: 310px;
    background-color: var(--second-color);
    border-radius: 8px;
  border: 2px solid var(--letters);
  overflow: hidden;


}

.card h2 {
    font-size: 1.3em;
    text-align: start;
    padding: 10px 15px;
}

.card__description {
    font-size: 1em;
   text-align: start;
    padding: 10px 15px;
}


.card__img img{
    width: 100%;
object-fit: cover;
    height: 150px;
}

