.principal-container {
  position: relative;

  background-color: var(--bg); 
}

.principal-container.dark{
 --bg: #101935;
  --letters: #f2fdffff;
  --second-color: #393c60ff;

  --alice-blue: #e5eefeff;
  --oxford-blue: #9ad4d6ff;

}